body{
    display: grid;
    place-items: center;
    height: 100vh;
}
h1{
    margin: 0;
}

.mx-2{
    border: 1px solid #3b5998;
}
.mx-2 form div {
    padding: 5px 0;
}
form button{
    margin: 0px 0px 10px 0;
}